/tmpclaude-1ee7-cwd
/tmpclaude-269e-cwd
/tmpclaude-4daf-cwd
/tmpclaude-4e7f-cwd
/tmpclaude-56ca-cwd
/tmpclaude-61ad-cwd
/tmpclaude-741f-cwd
/tmpclaude-9adb-cwd
/tmpclaude-a607-cwd
/tmpclaude-c8c9-cwd
.idea
